In [22]:
import pandas as pd

# Cargar el archivo Excel en un DataFrame
name = '../../titanic.xlsx'
df = pd.read_excel(name)

#Mostrar la edad promedio
edadPromedio = df['Edad'].mean()
print(f'El valor promedio de la edad de los pasajeros es: {edadPromedio}')

El valor promedio de la edad de los pasajeros es: 29.69911764705882

In [18]:
# Filtrar las pasajeras mujeres mayores de edad
pasajerasMayores= df[(df['Sexo'] == 'Femenino') & (df['Edad'] >= 18)]

# Contar el número de pasajeras mujeres mayores de edad
cantidad1 = pasajerasMayores.shape[0]

print(f'Número de pasajeras mujeres mayores de edad que abordaron el Titanic: {cantidad1}')

Número de pasajeras mujeres mayores de edad que abordaron el Titanic: 206

In [19]:
# Filtrar las pasajeras mujeres menores de edad
pasajerasMenores= df[(df['Sexo'] == 'Femenino') & (df['Edad'] < 18)]

# Contar el número de pasajeras mujeres menores de edad
cantidad2 = pasajerasMenores.shape[0]

print(f'Número de pasajeras mujeres mayores de edad que abordaron el Titanic: {cantidad2}')

Número de pasajeras mujeres mayores de edad que abordaron el Titanic: 55

In [20]:
# Mostrar número total de pasajeros
print(f'Número total de pasajeros registrados en el titanic: {len(df)}')

Número total de pasajeros registrados en el titanic: 891