### EJERCICIO 2

In [5]:
import numpy as np
import pandas as pd

In [9]:
# Crear un DataFrame de ejemplo con datos ficticios
data = {
    'Nombre': ['Alicia', 'Lucia', 'jesus', 'Diego Armando', 'larry'],
    'Edad': [18, 19, 20, 20, 20],
    'Sexo': ['F', 'F', 'M', 'M', 'M'],
    'Clase': ['Primera', 'Segunda', 'Primera', 'Tercera', 'Segunda']
}

In [10]:
# Convertir el diccionario a un DataFrame
df = pd.DataFrame(data)

# Crear el subconjunto que contiene las columnas 'Nombre' y 'Edad'
subset_nombre_edad = df[['Nombre', 'Edad']]

# Crear el subconjunto que contiene las columnas 'Sexo', 'Nombre' y 'Clase'
subset_sexo_nombre_clase = df[['Sexo', 'Nombre', 'Clase']]

In [11]:
# Visualizar solo los primeros 5 registros de cada subconjunto
# Imprimir el subconjunto 'Nombre con Edad'
print("Subconjunto: Nombre con Edad")
print(subset_nombre_edad.head())

# Imprimir el subconjunto 'Sexo con Nombre y Clase'
print("\nSubconjunto: Sexo con Nombre y Clase")
print(subset_sexo_nombre_clase.head())

Subconjunto: Nombre con Edad
          Nombre  Edad
0         Alicia    18
1          Lucia    19
2          jesus    20
3  Diego Armando    20
4          larry    20

Subconjunto: Sexo con Nombre y Clase
  Sexo         Nombre    Clase
0    F         Alicia  Primera
1    F          Lucia  Segunda
2    M          jesus  Primera
3    M  Diego Armando  Tercera
4    M          larry  Segunda